@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-space-grotesk: 'Space Grotesk', sans-serif;
  --font-inter: 'Inter', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #FBF8F4;
  color: #25344A;
}

::selection {
  background-color: #D96B44;
  color: #ffffff;
}
